DATABASE_URL=mongodb+srv://masitbd24:cHWxQcvVSSt4S10A@cluster0.ickxyqe.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
appName=Cluster0
PORT=4000

NODE_ENV=development

DEFAULT_USER_PASS=12345

BCRYPT_SALT_ROUNDS=10
JWT_SECRET=your_jwt_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
JWT_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d
REDIS_URL=redis://localhost:6379
REDIS_TOKEN_EXPIRES_IN=3600
RESET_PASS_UI_LINK=https://mas-hms-frontend.vercel.app/reset-password  # set this to domain name while deployment
EMAIL=marufahmed9270@gmail.com   
APP_PASS=fijf fiji ijge fiji

#------------------------+++++------------------------
# Below is the link for acquiring app password for forget and reset functionality to work properly
# https://myaccount.google.com/apppasswords
# after acquiring the password paste it as it is given with the spaces like below
# fijf fiji ijge fiji
